[core]
	autocrlf = false
	safecrlf = true
	pager = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less
	excludesfile = ~/.gitignore_global
[alias]
	amend = commit --amend -C HEAD
	br = branch
	ci = commit
	co = checkout
	dr = "!f() { git remote update; git log --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short $1..origin/$1; }; f"
	ds = diff --staged
	dump = cat-file -p
	glog = log -E -i --grep
	graph = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
	hist = log --pretty=format:\"%h %ad | %s [%an]\" --graph --date=short
	ls = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short
	sla = log --oneline --decorate --graph --all
	st = status -sb
	standup = log --since '1 day ago' --oneline --author !(git config user.email)
	type = cat-file -t
	undo = reset --soft HEAD^
[merge]
	tool = vimdiff
[push]
	default = simple
[color]
	ui = always
[color "diff"]
	commit = green
	meta = yellow
	frag = cyan
	old = red
	new = green
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[http "https://gopkg.in"]
	followRedirects = true
[include]
    path = .gitconfig.local
